h1 {
    color: #4895ef;
    text-align: center;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h2 {
    color: teal;
    background-color: plum;
    letter-spacing: 3px;
}

button {
    color: #ee6595;
    background-color: #70C1A4;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;

}

p {
    border: solid 15px #369EC9;
    border-style: double;
    background-color: #C96136;
}

h3 {
    color: #9a031e;
}

.list {
    border: 10px solid #1c8ba7;
    border-style: double;
    background-color: #fb8b24;
}