h1 {
    color: whitesmoke;
    background-color: purple;
    text-align: center;
    font-weight: 400;
    letter-spacing: 20px;
  
}

h2 {
   background-color: rgb(209, 167, 240);
}

h3 {
    background-color: rgb(209, 167, 240);
}

h4 {
    background-color: rgb(203, 171, 226);
}

p {
    text-align: left;
    line-height: 2;
    background-color: rgba(213, 195, 223, 0.685);
}