.imghead {
    font-weight: 400;
    letter-spacing: 10px;
    background-image: url(https://images.unsplash.com/photo-1525230071276-4a87f42f469e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
   height: 800px;
   background-size: 100%;
   background-repeat: no-repeat;

}   

  
.img1 {
    margin-left: 600px;
}

h2 {
   background-color: rgb(209, 167, 240);
}

h3 {
    background-color: rgb(209, 167, 240);
}

h4 {
    background-color: rgb(203, 171, 226);
}

p {
    text-align: left;
    line-height: 2;
    background-color: rgba(213, 195, 223, 0.685);
}

#ver_1 {
    background-color: rgba(185, 170, 194, 0.685);
}

table {
    background-color: rgba(185, 170, 194, 0.685);
}

