body {
    font-family:Georgia, 'Times New Roman', Times, serif
}

h1 {
    text-align: center;
}

#container {
    background-color: beige;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid rgb(44, 44, 44);
}