body {
    font-family: Lexend, sans-serif;
    font-weight: 200;
    background-color: #A39FBF;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 100px;
}

h3 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 2em;
}

p {
    font-size: 2rem;
}