#vote-btn:hover {
    background-color: rgb(243, 149, 215);
}

button {
    background-color: aquamarine;
    
}


#signup-btn {
    background-color: brown;
    color: white;
}

#vote-btn:active {
    background-color: blueviolet;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}